*{outline: 1px solid red;}

body{
    color: grey;
    font-family: sans-serif;
    margin-top: 50px;
    text-align: justify;
}

header,section, footer{
    width: 960px;
    margin: 0 auto;
    align-content: center;
}

header{
    display: flex;
    font-family: sans-serif;
    font-style: bold;
    font-size: 20px;
    color: black;
}

.encabezado{
    background-color: skyblue;
    font-family: sans-serif;
    font: arial;
        display: block;
    width: 100%;
}

section{
    display: flex;
    border-spacing: 10px;
}

h2{
    color: black;
}

article{
    width: 40%;
}

aside{
    width: 60%;
}

table{
    border: 4;
}

img{
    width: 150px;
    height: 50 px;
    margin-right: 20px;
    border-radius: 9200px;
}

.datos_empresa{
    line-height: 0px;
    text-align: left
}

.bloques{
    display: flex;
}